
.Title{
    font-size: 40px;
    padding: 5px 0 0 0;
    color: var(--very-light-pink);
    text-align: center;
} 

.Productos{
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    place-content: center;
    box-sizing: border-box;
    gap: 26px;
}   

.Producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px  10px 10px 2px rgb(0,0,0,.2);
    border: 4px solid transparent;
    background-color: white;
    border-radius: 5px;
    
}

.Producto:hover {
    border: 4px solid #54a494;
}

.Producto-img img{
    margin-top: 10px;
    width:310px;
    height: 188px;
    border-radius: 20px;
    object-fit: cover;
}

.Producto-footer {
   padding: 16px;
   text-align: center;
}

.Producto-footer h1{    
    font-weight:600;
    color:black;
    font-size:18px ;
    font-family: Arial, Helvetica, sans-serif;
}

.Producto-footer p{
    margin: 0 !important;
    font-weight: 700;
    color:rgb(0, 0, 0,.555);
    text-transform: uppercase;
    font-size: 15px;
}

.Producto-footer .Precio{
    font-size: 15px;
    color: #1a202c
}

.Producto .Buttom{
    width:100%;
    height: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 3px;
}

.Boton button{
    
    background: #54a494 ;
    padding: 8px 8px;
    border:none;
    border-radius: 10px;
} 

.Boton button:hover{
    background: #00b0f0 ;
    color:white;
    padding: 8px 8px;
    border:none;
    border-radius: 10px;
} 

.Buttom .Btn{
    text-decoration: none;
    background-color: #54a494;
    color:black;
    font-size: 16px;
    font-weight:500;
    padding: 8px 8px;
    border-radius: 10px;
}

.Buttom .Btn:hover{
    text-decoration: none;
    background: #00b0f0 ;
    color:white;
    font-size: 16px;
    font-weight:500;
    padding: 8px 8px;
    border-radius: 10px;
}

